PRODUCT_NAME = doublerNode;
CLANG_CXX_LANGUAGE_STANDARD = c++0x;
COPY_PHASE_STRIP = NO;
DYLIB_COMPATIBILITY_VERSION = ;
DYLIB_CURRENT_VERSION = ;
EXECUTABLE_EXTENSION = bundle;
GCC_DYNAMIC_NO_PIC = NO;
GCC_GENERATE_DEBUGGING_SYMBOLS = YES;
GCC_MODEL_TUNNING = G5;
GCC_OPTIMIZATION_LEVEL = 0;
GCC_WARN_ABOUT_RETURN_TYPE = YES;
GCC_WARN_UNUSED_VARIABLE = YES;
GENERATE_MASTER_OBJECT_FILE = YES;
MACH_O_TYPE = mh_bundle;
PREBINDING = NO;
ZERO_LINK = NO;